*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--main-color: #333;
--screen-color: rgb(89, 134, 85);
--button-color: #2f2f2f;
--button-color-two: #3f3f3f;
--before-color: #2d2d2d;
--before-color-two: #4d4d4d;
--border-color: #0004;
--before-border: #fff4;
--font-color: white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-color);
    font-family: sans-serif;
}

.container{
    width: 444px;
    min-height: 400px;
    background-color: var(--main-color);
    padding: 40px 30px 30px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0,0,0,.25),
    10px 10px 70px rgba(0,0,0,.25),
    inset -5px -5px 15px rgba(0,0,0,.5),
    inset 5px 5px 15px rgba(0,0,0,.5);
}

.container .screen{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 7vh;
    padding: 15px;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    background-color: var(--screen-color);
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(0,0,0,.75);
}

.container .num{
    display: grid;
    grid-template-columns: repeat(4,1fr)
}

.container .num span{
    display: grid;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 8px;
    background: linear-gradient(180deg, var(--button-color), var(--button-color-two));
    box-shadow: inset -8px 0 8px rgba(0,0,0,.15),
    inset 0 -8px 8px rgba(0,0,0,.25),
    0 0 0 2px rgba(0,0,0,.75),
    10px 20px 25px rgba(0,0,0,.4);
    color: var(--font-color);
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    place-items: center;
    border-radius: 10px;
}

.container .num span i{
    position: absolute;
    z-index: 100;
}

.container .num span::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, var(--before-color), var(--before-color-two));
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(0,0,0,.1),
    10px 5px 10px rgba(0,0,0,.15);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.container .num span:active{
    filter: brightness(1.5);
}

.container .num span:nth-child(1){
    grid-column: span 2;
    width: 175px;
    background: #f00;
}

.container .num span:nth-child(1)::before{
    background: linear-gradient(90deg, #d20000, #ffffff5c);
    border-left-color: var(--before-border);
    border-bottom-color: var(--before-border);
    border-top-color: var(--before-border);
}

.container .num span:nth-child(11){
    grid-row: span 2;
    height: 175px;
}

.container .num span:nth-child(18){
    background: #1479c9;
}

.container .num span:nth-child(18)::before{
    background: linear-gradient(90deg, #1479c9, #ffffff5c);
    border-left-color: var(--before-border);
    border-bottom-color: var(--before-border);
    border-top-color: var(--before-border);
}

/* Button's style */
.wrap{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 5vw;
    height:5vh;
}

.line{
    width: 100%;
    height: 5px;
    background-color: #222;
    border-radius: 20px;
}

.button{
    position: absolute;
    top: 0;
    left: -50%;
    transform: translateX(50%);
    width:50px;
    height: 100%;
    background-color: #222;
    border: 1px solid #111;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 4px #0005,
    -2px -2px 4px #0005;
    transition: .3s;
}

.button::after{
    content: 'ON';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    color: #aaa;
    font-size: 20px;
}

.button.on{
    left: 100%;
    transform: translateX(-50%);
}

.button.on::after{
    color: crimson;
    filter: drop-shadow(0 0 5px crimson);
}